<div id="body">
    <p id="about_title">EXPOLAROID, <span id="about_title_light">C'EST QUOI ?</span></p>
    <div id="content">
    <div id="text_about">
        <p id="text_part1">Initié à Nantes par un groupe de passionnés en 2013, Expolaroid est devenu un événement national et international qui, chaque année en avril, propose de se consacrer pleinement et entièrement à mettre sur un piédestal la photographie instantanée et ses usages.</p>
        <p id="text_part2">EXPOLAROID VEUT DIFFUSER L'USAGE DU<br/>POLAROID ET DU FILM INSTANTANÉ.</p>
        <p id="text_part3">Le message est simple : la photo instantanée, dans sa pratique et son usage, est un objet accessible, maniable et populaire. Expolaroid, c’est finalement du « Pop’n’Pola » ou comment donner à voir au grand public ce qui peut être fait avec le Polaroid et le film instantané tout en lui permettant de s’approprier cet outil. Sur le modèle du DIY « Do It Yourself », tous les professionnels et amateurs de la photo sont invités à créer leur propre événement dans leur ville !</p>
        <a href="/step1#body"><div id="btn">PARTICIPEZ À <span style="font-weight: 900;">EXPOLAROID 2016 !</span></div></a>
    </div>
    <div id="pola_frame">
        <img src="images/pola_team.png" id="lepoladelateam"/>
        <a href="/CP-Expolaroid-2016.pdf"><div id="btn_presse">TÉLÉCHARGEZ NOTRE<br/>DOSSIER DE PRESSE</div></a>
    </div>
    </div>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>