<div id="body">
    <p id="connexion_title"><span id="connexion_title_light">ESPACE</span> ORGANISATEUR</p>
    <p id="connexion_subtitle">CONNEXION</p>
    <form action="/login" method="post">
    <div id="auth">
    <p class="label">Email<input type="text" name="email" size="35" class="input"  /></p>
    <p class="label">Mot de passe<input name="password" type="password" size="35" class="input" /></p>
    </div>
    <p class="txt"><a href="/resetting/request#body" class="link">Mot de passe oublié ?</a></p><br/>
    <p class="txt">Pas encore inscrit ? <a href="/step1" class="link">Cliquez ici</a></p>
        <div id="btn">VALIDER</div>
    </form>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>