<link rel="stylesheet" href="/assets/css/lightbox.min.css">
<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.autocomplete.min.js"></script>
<div id="body">
    <p id="event_title">LES ÉVÉNEMENTS <span id="event_title_light"> | AVRIL 2016</span></p>
    <form action="/eventsResults" method="post" id="myform" name="myform">
        <div id="search_div"><input type="text" name="recherche" id="search" /><input type="submit" value="Rechercher" id="rechercher" style=" border:0 none; height: 20px;"/></div>
    </form>
    <p id="exemple">Ex : Nantes, Michael Meniane, Les Polagraphes, Canada, noir et blanc, SX-70...</p>

    {% set i = 0 %}
    {% for event in data %}
    <div class="content">
        <div class="text_about">
            <a class="example-image-link" href="{% if event.a_urlPhoto != '' %}/upload/{{ event.a_urlPhoto }}{% else %}/upload/default.jpg{% endif %}" data-lightbox="example-{{ event.a_name }}"><img width="150" height="150" src="{% if event.a_urlMini != '' %}/upload/{{ event.a_urlMini }} {% else %}/images/miniature_default.jpg{% endif %}" /></a>
        </div>
        <div class="pola_frame">
            <span class="city">{{ event.town | upper }}</span><br/>
            <span class="title">{{ event.a_name }}</span><br/><br/>
            <p class="txt" style="font-size: 14px !important;">{{ event.a_address }}<br/><br/>
                du {{ event.a_startDay }}/{{ event.a_startMonth }}/2016 au {{ event.a_endDay }}/{{ event.a_endMonth }}/2016<br/><br/>
               {% if event.a_noVernissage is null %}
                Vernissage : {{ event.a_vernissageDay }}/{{ event.a_vernissageMonth }}/2016<br/><br/>
                {% endif %}
                {{ event.a_description |nl2br }}<br/><br/>
                {% if event.a_participants != '' %}Participants : {{ event.a_participants }}<br/><br/>{% endif %}
                <a href="http://{{ event.a_siteWeb | replace({'http://': ''}) }}" target="_blank" style="color: white;">{{ event.a_siteWeb }}</a><br/>
            </p>
        </div>
        <hr style="color: white; clear: both;"/>
    </div>
        {% set i = i + 1 %}
    {% endfor %}
    <div id="clear"></div>
    <div id="pagination">{% for i in 1..nb_page_max %}
        {% if page_actuelle == i %} <span id="pagination_actif"><a href='/eventsResults/{{ i }}?filter={{ filter }}#body' style="color: white;">{{ i }}</a></span>{% else %} <a href='/eventsResults/{{ i }}?filter={{ filter }}#body' style="color: white;">{{ i }}</a> {% endif %}
        {% endfor %}</div>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#search').autocomplete({
            serviceUrl: '/suggestions',
            dataType: 'json'
        });
    });
</script>
<style type="text/css">
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
</style>