<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDXTXQxBq9_I7GwsuPe9HbOsjNMxrVhu0&callback=initialize">
</script>
<div id="body">
    <p id="avril_title">AVRIL 2016</p>
    <p id="subtitle_map">DU POLAROID DANS LE MONDE ENTIER</p>
    <div id="map_canvas"></div>
    <div id="choice">
        <center><a href="/events#body"><div id="discover">DÉCOUVREZ TOUS <span style="font-weight: 900;">LES ÉVÉNEMENTS</span></div></a>
        <a href="/step1#body"><div id="addevent">PROPOSEZ VOTRE <span style="font-weight: 900;">ÉVÉNEMENT</span></div></center></a>
    </div>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap" style="padding-top: 70px;"/></a></center>
</div>