{% extends '::base.html.twig' %}

{% block stylesheets %}
   <link href="/style/general.css" rel="stylesheet" media="all" type="text/css"/>
   <link href="/style/index.css" rel="stylesheet" media="all" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,400,700,900' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        function initialize() {
            map = new google.maps.Map(document.getElementById("map_canvas"), {
                zoom: 2,
                center: new google.maps.LatLng(48.858565, 2.347198),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            {% for event in data %}

                var marker_{{ event.i }} = new google.maps.Marker({
                    position: {lat: {{ event.lat }}, lng: {{ event.long }}},
                    map: map,
                    title: 'Hello World!'
                });

                var iw_{{ event.i }} = new google.maps.InfoWindow({
                    content: "<h2>{{ event.name }}</h2><br/>{{ event.address }}<br/><br/>du {{ event.dayStart }}/{{ event.monthStart }}/2016 au {{ event.dayEnd }}/{{ event.monthEnd }}/2016<br/>{% if event.noVernissage != 'true' %}Vernissage le {{ event.dayVernissage }}/{{ event.monthVernissage }}/2016<br/><br/>{% endif %}<br/>{% if event.siteWeb != '' %}Site internet : <a style='color:blue;' href='http://{{ event.siteWeb }}'>{{ event.siteWeb }}</a><br/>{% endif %}<br/>"
                });
                google.maps.event.addListener(marker_{{ event.i }}, "click", function (e) { iw_{{ event.i }}.open(map, marker_{{ event.i }}); });

                marker_{{ event.i }}.setMap(map);

            {% endfor %}
        }
    </script>
{% endblock %}
{% block body %}
    <body onload="initialize()">
    {% block content %}
        {% include "ExpolaroidShowcaseBundle:Default:index_content.html.twig" %}
    {% endblock content %}
    </body>
{% endblock %}