<div id="body">
    <p id="step_title_light">PARTICIPEZ À <span id="step_title">EXPOLAROID 2016</span></p>
    <p id="subtitle">PROPOSEZ VOTRE ÉVÉNEMENT</p>
    <div id="txt">
        <br/><br/>
        Votre inscription a bien été prise en compte.<br/>
        Vous recevrez un e-mail de confirmation d’ici peu.
        <br/><br/>
        Vous pouvez dès à présent vous connecter à votre espace membre en cliquant sur « Espace membres ».<br/>
        Sur votre espace membre, vous pourrez éditer votre événement, ainsi qu’en rajouter ou en supprimer.
        <br/><br/>
        MERCI DE VOTRE PARTICIPATION ET À BIENTÔT POUR EXPOLAROID 2016 !
    </div>
    <a href="/membres"><div id="btn"><span id="btngras">ESPACE ORGANISATEUR</span></div></a>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>