<div id="body">
    <p id="step_title_light">PARTICIPEZ À <span id="step_title">EXPOLAROID 2016</span></p>
    <p id="subtitle">PROPOSEZ VOTRE ÉVÉNEMENT</p>
    <div id="txt">
        <br/><br/>
        <p>Entrez les détails de votre événement ci-dessous.
            <br/>Ne vous inquiètez pas si vos informations sont incomplètes ou erronées, elles seront éditables facilement par la suite.</p>
        <br/>
        <form action="/step4" method="post">
        <p class="title_little">MON ÉVÉNEMENT</p><br/>
        <div class="label">Type d'événement</div><span class="sizeinput"><select name="type" class="input">
                <option value="expo">Exposition</option>
                <option value="concours">Concours & safaris</option>
                <option value="ateliers">Ateliers</option>
                <option value="autres">Autres</option>
            </select></span><br/>
            <div class="label">Nom de l'événement</div><span class="sizeinput"><input type="text" class="input" name="name"/></span><br/>
            <div class="label">Lieu de l'événement</div><span class="sizeinput"><input type="text" class="input" name="lieu" placeholder="ex : 15 Rue de Coulmiers, 44000 Nantes"/></span><br/>
            <div class="label">Ville de l'événement</div><span class="sizeinput"><input type="text" class="input" name="ville" placeholder="ex : Nantes"/></span><br/>
            <div class="label">Date de début</div><span class="sizeinput"><select name="day_start" style="width: 50px;">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select> / <select name="month_start" style="width: 50px;"><option value="3">03</option><option value="4">04</option><option value="5">05</option></select></span><br/>
            <div class="label">Date de fin</div><span class="sizeinput"><select name="day_end" style="width: 50px;">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select> / <select name="month_end" style="width: 50px;"><option value="3">03</option><option value="4">04</option><option value="5">05</option></select></span><br/>
            <div class="label">Date du vernissage</div><span class="sizeinput"><select name="day_vernissage" style="width: 50px;">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select> / <select name="month_vernissage" style="width: 50px;"><option value="3">03</option><option value="4">04</option><option value="5">05</option></select>  Pas de vernissage <input type="checkbox" name="novernissage" /> </span><br/>
            <div class="label">Description</div><span class="sizeinput"><textarea rows="4" cols="50" style="resize: none;" class="input"></textarea></span><br/>
            <div class="label">Participants (Nom/Pseudo...)</div><span class="sizeinput"><input type="text" class="input" name="lieu" placeholder="ex : Jean Dupont: Photographe, Anne Dupont... "/></span><br/>
            <div class="label">Site Web</div><span class="sizeinput"><input type="text" class="input" name="siteweb" placeholder="ex : www.polaroid.com "/></span><br/>
            <div class="label">Contact</div><span class="sizeinput"><input type="text" class="input" name="email" placeholder="ex : contact@polaroid.com "/></span><br/>
            <p class="title_little" style="padding-bottom: 20px;">INFORMATIONS PERSONNELLES</p>
            <div class="label">Nom de l'organisateur</div><span class="sizeinput"><input type="text" class="input" name="nom" placeholder="ex : Durand "/></span><br/>
            <div class="label">Prénom de l'organisateur</div><span class="sizeinput"><input type="text" class="input" name="prenom" placeholder="ex : Jean "/></span><br/>
            <div class="label">Ville</div><span class="sizeinput"><input type="text" class="input" name="ville" placeholder="ex : Nantes "/></span><br/>
            <div class="label">Email</div><span class="sizeinput"><input type="text" class="input" name="email" placeholder="ex : contact@pola.com "/></span><br/>
            <div class="label">Téléphone</div><span class="sizeinput"><input type="text" class="input" name="tel" placeholder="ex : 01.02.03.04.05 "/></span><br/>
            <div class="label">Mot de passe</div><span class="sizeinput"><input type="password" class="input" name="password" placeholder="Obligoire pour l'espace organisateur "/></span><br/>
            <div class="label">Confirmer votre mot de passe</div><span class="sizeinput"><input type="password" class="input" name="password2" placeholder="Obligoire pour l'espace organisateur "/></span><br/>
        </form>
    </div>
    <a href="/step4#body"><div id="btn3">JE VALIDE <span id="btngras">MON INSCRIPTION</span></div></a>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>