<div id="body">
    <p id="step_title_light">PARTICIPEZ À <span id="step_title">EXPOLAROID 2016</span></p>
    <p id="subtitle">PROPOSEZ VOTRE ÉVÉNEMENT</p>
    <div id="txt">
        <br/><br/>
        <p>Entrez les détails de votre événement ci-dessous.</p>
        <p>Ne vous inquiètez pas si vos informations sont incomplètes ou erronées, elles seront éditables facilement par la suite.</p>
        <br/><br/>
        <form action="/step5" method="post" id="myForm" enctype="multipart/form-data">
            <h1>CRÉER UN ÉVÉNEMENT</h1>
            <br/><br/>
            <div class="label">* Type d'événement</div><span class="sizeinput"><select name="type" id="type" class="input" style="width: 320px;">
                    <option value="expo">Exposition</option>
                    <option value="concours">Concours & safaris</option>
                    <option value="ateliers">Ateliers</option>
                    <option value="autres">Autres</option>
                </select></span><br/>
            <div class="label">* Nom de l'événement</div><span class="sizeinput"><input size="51" type="text" class="input" name="name" id="name"/></span><br/>
            <div class="label">* Lieu de l'événement</div><span class="sizeinput"><input size="51" type="text" id="user_input_autocomplete_address" class="input" name="lieu" placeholder="ex : 15 Rue de Coulmiers, 44000 Nantes"/></span><br/>
            <div class="label">* Ville de l'événement</div><span class="sizeinput"><input size="51" type="text" class="input" id="ville" name="ville" placeholder="ex : Nantes"/></span><br/>
            <div class="label">* Date de début</div><span class="sizeinput"><select id="day_start" name="day_start" style="width: 50px;">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select> / <select name="month_start" id="month_start" style="width: 50px;"><option value="3">03</option><option value="4" selected="selected">04</option><option value="5">05</option></select></span><br/>
            <div class="label">* Date de fin</div><span class="sizeinput"><select id="day_end" name="day_end" style="width: 50px;">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select> / <select name="month_end" id="month_end" style="width: 50px;"><option value="3">03</option><option value="4" selected="selected">04</option><option value="5">05</option></select></span><br/>
            <div class="label">Date du vernissage</div><span class="sizeinput"><select id="day_vernissage" name="day_vernissage" style="width: 50px;">
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select> / <select name="month_vernissage" id="month_vernissage" style="width: 50px;"><option value="3">03</option><option value="4" selected="selected">04</option><option value="5">05</option></select> ou pas de vernissage <input type="checkbox" name="novernissage" id="novernissage" /> </span><br/>
            <div class="label">* Description</div><span class="sizeinput"><textarea rows="4" cols="50" style="resize: none;" name="description" id="description" class="input"></textarea></span><br/>
            <div class="label">Participants (Nom/Pseudo...)</div><span class="sizeinput"><input size="51" type="text" class="input" name="participants" placeholder="ex : Jean Dupont: Photographe, Anne Dupont... "/></span><br/>
            <div class="label">Site Web</div><span class="sizeinput"><input size="51" type="text" class="input" name="siteweb" placeholder="ex : www.polaroid.com "/></span><br/>
            <div class="label">Contact</div><span class="sizeinput"><input size="51" type="text" class="input" name="email" placeholder="ex : contact@polaroid.com "/></span><br/>
            <div class="label">Image de l'événement<br/>.jpg, .jpeg, .png<br/>Poids max : 2 MB</div><span class="sizeinput"><input type="file" name="fichier" style="display: inline-block !important;"></span><br/>
            <div class="label">Miniature de l'événement<br/>(150 pixels * 150 pixels)<br/>.jpg, .jpeg, .png<br/>Poids max : 1 MB</div><span class="sizeinput"><input type="file" name="fichier_miniature" style="display: inline-block !important;"></span><br/>

            <input id="street_number" name="street_number" type="hidden" disabled />
            <input id="route" name="route" type="hidden" disabled />
            <input id="locality" name="locality" type="hidden" disabled />
            <input id="country" name="country" type="hidden" disabled />
        </form>
    </div>
    <a onclick="valid()" style="cursor:pointer;"><div id="btn3">JE VALIDE <span id="btngras">MON INSCRIPTION</span></div></a>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCTTMIzjS6GTlHjekeLFVYz_XaPT9LrS5s">
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#novernissage').change(function() {
            if($(this).is(":checked")) {
                $("#month_vernissage").prop('disabled', true);
                $("#day_vernissage").prop('disabled', true);
            }
            else
            {
                $("#month_vernissage").prop('disabled', false);
                $("#day_vernissage").prop('disabled', false);
            }
            $('#novernissage').val($(this).is(':checked'));
        });
    });

    var form = document.getElementById("myForm");
    form.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
            valid();
        }
    });

    function valid()
    {
        if (document.getElementById("ville").value != '' && document.getElementById("type").value != '' && document.getElementById("name").value != ''
                && document.getElementById("user_input_autocomplete_address").value != '' && document.getElementById("day_start").value != ''
                && document.getElementById("month_start").value != '' && document.getElementById("day_end").value != ''
                && document.getElementById("month_end").value != ''  && document.getElementById("description").value != '')
        {
            document.getElementById("myForm").submit();
        }
        else
        {
            alert("Tous les champs marqués d'une * sont obligatoire.");
        }
    }
</script>

<script>
    function initializeAutocomplete(id) {
        var element = document.getElementById(id);
        if (element) {
            var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
            google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        }
    }

    function onPlaceChanged() {
        var place = this.getPlace();

        // console.log(place);  // Uncomment this line to view the full object returned by Google API.

        for (var i in place.address_components) {
            var component = place.address_components[i];
            for (var j in component.types) {  // Some types are ["country", "political"]
                var type_element = document.getElementById(component.types[j]);
                if (type_element) {
                    type_element.value = component.long_name;
                }
            }
        }
    }

    google.maps.event.addDomListener(window, 'load', function() {
        initializeAutocomplete('user_input_autocomplete_address');
    });
</script>
