<div id="body">
    <p id="step_title_light">PARTICIPEZ À <span id="step_title">EXPOLAROID 2016</span></p>
    <p id="subtitle">PROPOSEZ VOTRE ÉVÉNEMENT</p>
    <div id="txt">
        <br/><br/>
        Pour participer à la 4e édition d’Expolaroid, le mois du Polaroid et du film instantané (avril 2016), proposez votre<br/>
        événement en lien avec le Polaroid ou la photographie instantanée (exposition, atelier, projection, concours...).
        <br/><br/>
        LA CHARTE EXPOLAROID
        <br/><br/>
        Pour garantir la qualité des événements dans le cadre d’Expolaroid, votre événement devra absolument respecter les 3 conditions suivantes :
        <br/><br/>
        <input type="checkbox" id="check1" />  Se déroule au moins en partie au mois d'avril 2016<br/>
        <input type="checkbox" id="check2" />  Utilise, mentionne, promeut le film instantané (Polaroid, Fujifilm, Impossible...)<br/>
        <input type="checkbox" id="check3" />  Intègre le logo Expolaroid dans ses supports de communication (affiches, flyers...)<br/><br/>

        Besoin de précisions ? N’hésitez pas à nous contacter : contact@expolaroid.com
    </div>
    <a onclick="check_charte();" style="cursor: pointer;"><div id="btn">J'ACCEPTE LES CONDITIONS<br/><span id="btngras">ET JE CONTINUE MON INSCRIPTION !</span></div></a>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>

<script type="text/javascript">
    function check_charte()
    {
        if (document.getElementById("check1").checked && document.getElementById("check2").checked && document.getElementById("check3").checked)
            document.location.href="/step2#body";
        else
            alert("Vous devez valider les trois conditions !");
    }
</script>