<div id="body">
    <p id="step_title_light">PARTICIPEZ À <span id="step_title">EXPOLAROID 2016</span></p>
    <p id="subtitle">PROPOSEZ VOTRE ÉVÉNEMENT</p>
    <div id="txt">
        <br/><br/>
        <p>Soutenez l’association Expolaroid en devenant adhérent !<br/>
        (ou continuez votre inscription en ignorant ce message)
        <br/><br/>
        <p><span style="font-size: 20px;">ADHÉSION</span><br/>
            J’organise un événement dans le cadre d’Expolaroid. En devenant adhérent à l’association, je recevrai un pack<br/>
            organisateur composé de goodies (t-shirt, affiches, flyers, stickers...).
        </p>
        <a href="/adhesion2016Referent.pdf" target="_blank"><div id="btn2">TÉLÉCHARGER LE FORMULAIRE D'ADHÉSION</div></a><br/><br/>
        <span style="font-size: 20px;">PACK GRAPHIQUE</span><br/>
        Pour vous aider à créer vos affiches, nous mettons à votre disposition les éléments graphiques contenant le visuel officiel, ainsi que d'autres visuels.<br/>L'insertion du bandeau "Expolaroid - Le mois du polaroid et du film instantané" sera obligatoire sur vos supports de communication. Merci de lire les consignes.<br/><br/>
        <a href="/packgraphiqueexpolaroid2016.zip" target="_blank"><div id="btn2">TÉLÉCHARGER LE PACK GRAPHIQUE</div></a>
        <a href="/step3#body"><div id="btn2">JE CONTINUE MON INSCRIPTION !</div></a>


    </div>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>