<!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="/membres">Accueil</a></li>
            <li class="active">Tableau de Bord</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Tableau de Bord</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-stats bg-green">
                    <div class="stats-icon"><i class="fa fa-globe"></i></div>
                    <div class="stats-info">
                        <h4>NOMBRE D'ÉVÉNEMENTS</h4>
                        <p>{{ nb_event }}</p>
                    </div>
                   <!-- <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-stats bg-blue">
                    <div class="stats-icon"><i class="fa fa-users"></i></div>
                    <div class="stats-info">
                        <h4>NOMBRE D'ORGANISATEURS</h4>
                        <p>{{ nb_users }}</p>
                    </div>
                   <!-- <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-stats bg-purple">
                    <div class="stats-icon"><i class="fa fa-flag"></i></div>
                    <div class="stats-info">
                        <h4>VOS ÉVÉNEMENTS</h4>
                        <p>{{ nb_event_perso }}</p>
                    </div>
                   <!-- <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- end col-3 -->
            <!-- begin col-3 -->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-stats bg-red">
                    <div class="stats-icon"><i class="fa fa-camera-retro"></i></div>
                    <div class="stats-info">
                        <h4>{{ label_rebourg }}</h4>
                        <p>J-{{ compteARebourg }}</p>
                    </div>
                   <!-- <div class="stats-link">
                        <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                    </div> -->
                </div>
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
        <!-- begin row -->
        <div class="row">
            <!-- begin col-8 -->
            <div class="col-md-12">
                <!--<div class="panel panel-inverse" data-sortable-id="index-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="panel-title">Website Analytics (Last 7 Days)</h4>
                    </div>
                    <div class="panel-body">
                        <div id="interactive-chart" class="height-sm"></div>
                    </div>
                </div> -->

                <ul class="nav nav-tabs nav-tabs-inverse nav-justified nav-justified-mobile" data-sortable-id="index-2">
                    <li class="active"><a style="cursor: pointer;" id="tab_all" data-toggle="tab"><i class="fa fa-flag m-r-5"></i> <span class="hidden-xs">Tous les événements</span></a></li>
                    <li class=""><a style="cursor: pointer;" id="tab_ok" data-toggle="tab"><i class="fa fa-check m-r-5"></i> <span class="hidden-xs">Événements validés</span></a></li>
                    <li class=""><a style="cursor: pointer;" id="tab_standby" data-toggle="tab"><i class="fa fa-pause m-r-5"></i> <span class="hidden-xs">Événements en attente de validation</span></a></li>
                    <li class=""><a style="cursor: pointer;" id="tab_ko" data-toggle="tab"><i class="fa fa-close m-r-5"></i> <span class="hidden-xs">Événements refusés</span></a></li>
                </ul>
                <div class="tab-content" data-sortable-id="index-3">
                    <div class="tab-pane fade active in" id="latest-post">
                        <div class="height-sm" data-scrollbar="true">
                            <ul class="media-list media-list-with-divider" id="events_all">
                                {% if events_all |length == 0 %}
                                    <center>Aucun événement actuellement<br/><br/>
                                        <a href="/membres/creation"><input type="button" value="Créer un événement" /></a></center>
                                {% else %}

                                    {% for event in events_all %}
                                        <li class="media media-lg">
                                              <a class="pull-left">  <img  width="150" height="150" src="{% if event.urlMini != '' %} /upload/{{ event.urlMini }} {% else %}/images/miniature_default.jpg{% endif %}" alt="" /></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{ event.name }}</h4>
                                               Type : {% if event.type == 'expo' %} Exposition {% elseif event.type == 'concours' %} Concours & safaris {% elseif event.type == 'ateliers' %} Ateliers {% else %} Autres {% endif %}<br/><br/>
                                                Lieu : {{ event.address }}<br/>
                                                Date : {{ event.startDay }} {% if event.startMonth == '03' %} Mars {% endif %} {% if event.startMonth == '04' %} Avril {% endif %} {% if event.startMonth == '05' %} Mai {% endif %} au {{ event.endDay }} {% if event.endMonth == '03' %} Mars {% endif %}{% if event.endMonth == '04' %} Avril {% endif %} {% if event.endMonth == '05' %} Mai {% endif %} 2016<br/>
                                                {% if event.noVernissage == 'true' %}Pas de vernissage{% else %}Vernissage : {{ event.vernissageDay }} {% if event.vernissageMonth == '03' %} Mars {% endif %}{% if event.vernissageMonth == '04' %} Avril {% endif %}{% if event.vernissageMonth == '05' %} Mai {% endif %} 2016 {% endif %}<br/>
                                                Description :<br/>
                                                {{ event.description |nl2br }}<br/>
                                                {% if event.participants != '' %}Participants : {{ event.participants }} <br/>{% endif %}
                                                {% if event.siteWeb != '' %}Site Web : {{ event.siteWeb }} <br/>{% endif %}
                                                {% if event.contact != '' %}Email : {{ event.contact }} {% endif %}<br/><br/>
                                                Statut de l'événement Expolaroid : {% if event.validation_staff == 0 %} <span style="color: orange;">En Attente</span> {% elseif event.validation_staff == 1 %} <span style="color: green;">Validé</span> {% elseif event.validation_staff == -1 %} <span style="color: red;">Refusé. Motif : {{ event.motif }}</span> {% endif %}
                                          <br/><br/> <a href="/membres/modification/{{ event.id }}"><input type="button" value="Modifier l'événement" style="margin-right: 10px;"/></a><a href="/membres/delete/{{ event.id }}" onclick="return(confirm('Êtes-vous sûr de vouloir supprimer cet événement ?'));"><input type="button" value="Supprimer l'événement" /></a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <ul class="media-list media-list-with-divider" id="events_ok">
                                {% if nb_ok == 0 %}
                                    <center>Aucun événement actuellement<br/><br/>
                                        <a href="/membres/creation"><input type="button" value="Créer un événement" /></a></center>
                                {% else %}

                                    {% for event in events_all %}

                                        {% if  event.validation_staff == 1 %}

                                        <li class="media media-lg">
                                               <a class="pull-left"><img  width="150" height="150" src="{% if event.urlMini != '' %} /upload/{{ event.urlMini }} {% else %}/images/miniature_default.jpg{% endif %}" alt="" /></a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{ event.name }}</h4>
                                                Type : {% if event.type == 'expo' %} Exposition {% elseif event.type == 'concours' %} Concours & safaris {% elseif event.type == 'ateliers' %} Ateliers {% else %} Autres {% endif %}<br/><br/>
                                                Lieu : {{ event.address }}<br/>
                                                Date : {{ event.startDay }} {% if event.startMonth == '03' %} Mars {% endif %} {% if event.startMonth == '04' %} Avril {% endif %} {% if event.startMonth == '05' %} Mai {% endif %} au {{ event.endDay }} {% if event.endMonth == '03' %} Mars {% endif %}{% if event.endMonth == '04' %} Avril {% endif %} {% if event.endMonth == '05' %} Mai {% endif %} 2016<br/>
                                                {% if event.noVernissage == 'true' %}Pas de vernissage{% else %}Vernissage : {{ event.vernissageDay }} {% if event.vernissageMonth == '03' %} Mars {% endif %}{% if event.vernissageMonth == '04' %} Avril {% endif %}{% if event.vernissageMonth == '05' %} Mai {% endif %}  2016 {% endif %}<br/>
                                                Description :<br/>
                                                {{ event.description |nl2br}}<br/>
                                                {% if event.participants != '' %}Participants : {{ event.participants }} <br/>{% endif %}
                                                {% if event.siteWeb != '' %}Site Web : {{ event.siteWeb }} <br/>{% endif %}
                                                {% if event.contact != '' %}Email : {{ event.contact }} {% endif %}<br/><br/>
                                                Statut de l'événement Expolaroid : {% if event.validation_staff == 0 %} <span style="color: orange;">En Attente</span> {% elseif event.validation_staff == 1 %} <span style="color: green;">Validé</span> {% elseif event.validation_staff == -1 %} <span style="color: red;">Refusé. Motif : {{ event.motif }}</span> {% endif %}
                                                <br/><br/> <a href="/membres/modification/{{ event.id }}"><input type="button" value="Modifier l'événement" style="margin-right: 10px;"/></a><a href="/membres/delete/{{ event.id }}" onclick="return(confirm('Êtes-vous sûr de vouloir supprimer cet événement ?'));"><input type="button" value="Supprimer l'événement" /></a>
                                            </div>
                                        </li>

                                            {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <ul class="media-list media-list-with-divider" id="events_standby">
                                {% if nb_wait == 0 %}
                                    <center>Aucun événement actuellement<br/><br/>
                                        <a href="/membres/creation"><input type="button" value="Créer un événement" /></a></center>
                                {% else %}

                                    {% for event in events_all %}

                                        {% if  event.validation_staff == 0 %}

                                            <li class="media media-lg">
                                                <a class="pull-left"><img  width="150" height="150" src="{% if event.urlMini != '' %} /upload/{{ event.urlMini }} {% else %}/images/miniature_default.jpg{% endif %}" alt="" /></a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{ event.name }}</h4>
                                                    Type : {% if event.type == 'expo' %} Exposition {% elseif event.type == 'concours' %} Concours & safaris {% elseif event.type == 'ateliers' %} Ateliers {% else %} Autres {% endif %}<br/><br/>
                                                    Lieu : {{ event.address }}<br/>
                                                    Date : {{ event.startDay }} {% if event.startMonth == '03' %} Mars {% endif %} {% if event.startMonth == '04' %} Avril {% endif %} {% if event.startMonth == '05' %} Mai {% endif %} au {{ event.endDay }} {% if event.endMonth == '03' %} Mars {% endif %}{% if event.endMonth == '04' %} Avril {% endif %} {% if event.endMonth == '05' %} Mai {% endif %} 2016<br/>
                                                    {% if event.noVernissage == 'true' %}Pas de vernissage{% else %}Vernissage : {{ event.vernissageDay }} {% if event.vernissageMonth == '03' %} Mars {% endif %}{% if event.vernissageMonth == '04' %} Avril {% endif %}{% if event.vernissageMonth == '05' %} Mai {% endif %}  2016 {% endif %}<br/>
                                                    Description :<br/>
                                                    {{ event.description |nl2br}}<br/>
                                                    {% if event.participants != '' %}Participants : {{ event.participants }} <br/>{% endif %}
                                                    {% if event.siteWeb != '' %}Site Web : {{ event.siteWeb }} <br/>{% endif %}
                                                    {% if event.contact != '' %}Email : {{ event.contact }} {% endif %}<br/><br/>
                                                    Statut de l'événement Expolaroid : {% if event.validation_staff == 0 %} <span style="color: orange;">En Attente</span> {% elseif event.validation_staff == 1 %} <span style="color: green;">Validé</span> {% elseif event.validation_staff == -1 %} <span style="color: red;">Refusé. Motif : {{ event.motif }}</span> {% endif %}
                                                    <br/><br/> <a href="/membres/modification/{{ event.id }}"><input type="button" value="Modifier l'événement" style="margin-right: 10px;"/></a><a href="/membres/delete/{{ event.id }}" onclick="return(confirm('Êtes-vous sûr de vouloir supprimer cet événement ?'));"><input type="button" value="Supprimer l'événement" /></a>
                                                </div>
                                            </li>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                            <ul class="media-list media-list-with-divider" id="events_ko">
                                {% if nb_ko == 0 %}
                                    <center>Aucun événement actuellement<br/><br/>
                                        <a href="/membres/creation"><input type="button" value="Créer un événement" /></a></center>
                                {% else %}

                                    {% for event in events_all %}

                                        {% if  event.validation_staff == -1 %}

                                            <li class="media media-lg">
                                                <a class="pull-left"><img  width="150" height="150" src="{% if event.urlMini != '' %} /upload/{{ event.urlMini }} {% else %}/images/miniature_default.jpg{% endif %}" alt="" /></a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">{{ event.name }}</h4>
                                                    Type : {% if event.type == 'expo' %} Exposition {% elseif event.type == 'concours' %} Concours & safaris {% elseif event.type == 'ateliers' %} Ateliers {% else %} Autres {% endif %}<br/><br/>
                                                    Lieu : {{ event.address }}<br/>
                                                    Date : {{ event.startDay }} {% if event.startMonth == '03' %} Mars {% endif %} {% if event.startMonth == '04' %} Avril {% endif %} {% if event.startMonth == '05' %} Mai {% endif %} au {{ event.endDay }} {% if event.endMonth == '03' %} Mars {% endif %}{% if event.endMonth == '04' %} Avril {% endif %} {% if event.endMonth == '05' %} Mai {% endif %} 2016<br/>
                                                    {% if event.noVernissage == 'true' %}Pas de vernissage{% else %}Vernissage : {{ event.vernissageDay }} {% if event.vernissageMonth == '03' %} Mars {% endif %}{% if event.vernissageMonth == '04' %} Avril {% endif %}{% if event.vernissageMonth == '05' %} Mai {% endif %}  2016 {% endif %}<br/>
                                                    Description :<br/>
                                                    {{ event.description |nl2br }}<br/>
                                                    {% if event.participants != '' %}Participants : {{ event.participants }} <br/>{% endif %}
                                                    {% if event.siteWeb != '' %}Site Web : {{ event.siteWeb }} <br/>{% endif %}
                                                    {% if event.contact != '' %}Email : {{ event.contact }} {% endif %}<br/><br/>
                                                    Statut de l'événement Expolaroid : {% if event.validation_staff == 0 %} <span style="color: orange;">En Attente</span> {% elseif event.validation_staff == 1 %} <span style="color: green;">Validé</span> {% elseif event.validation_staff == -1 %} <span style="color: red;">Refusé. Motif : {{ event.motif }}</span> {% endif %}
                                                    <br/><br/> <a href="/membres/modification/{{ event.id }}"><input type="button" value="Modifier l'événement" style="margin-right: 10px;"/></a><a href="/membres/delete/{{ event.id }}" onclick="return(confirm('Êtes-vous sûr de vouloir supprimer cet événement ?'));"><input type="button" value="Supprimer l'événement" /></a>
                                                </div>
                                            </li>

                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end #content -->

<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#events_ok").css('display', 'none');
        $("#events_standby").css('display', 'none');
        $("#events_ko").css('display', 'none');

        $( "#tab_ok" ).click(function() {
            $("#events_ok").css('display', '');
            $("#events_standby").css('display', 'none');
            $("#events_all").css('display', 'none');
            $("#events_ko").css('display', 'none');
        });

        $( "#tab_standby" ).click(function() {
            $("#events_ok").css('display', 'none');
            $("#events_standby").css('display', '');
            $("#events_all").css('display', 'none');
            $("#events_ko").css('display', 'none');
        });

        $( "#tab_all" ).click(function() {
            $("#events_ok").css('display', 'none');
            $("#events_standby").css('display', 'none');
            $("#events_all").css('display', '');
            $("#events_ko").css('display', 'none');
        });

        $( "#tab_ko" ).click(function() {
            $("#events_ok").css('display', 'none');
            $("#events_standby").css('display', 'none');
            $("#events_all").css('display', 'none');
            $("#events_ko").css('display', '');
        });
    });
</script>