<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="/membres">Accueil</a></li>
        <li class="active">Tableau de Bord</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Tableau de Bord</h1>
    <!-- end page-header -->

    <!-- begin row -->
    <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-green">
                <div class="stats-icon"><i class="fa fa-globe"></i></div>
                <div class="stats-info">
                    <h4>NOMBRE D'ÉVÉNEMENTS</h4>
                    <p>{{ nb_event }}</p>
                </div>
                <!-- <div class="stats-link">
                     <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                 </div> -->
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="fa fa-users"></i></div>
                <div class="stats-info">
                    <h4>NOMBRE D'ORGANISATEURS</h4>
                    <p>{{ nb_users }}</p>
                </div>
                <!-- <div class="stats-link">
                     <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                 </div> -->
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-purple">
                <div class="stats-icon"><i class="fa fa-flag"></i></div>
                <div class="stats-info">
                    <h4>VOS ÉVÉNEMENTS</h4>
                    <p>{{ nb_event_perso }}</p>
                </div>
                <!-- <div class="stats-link">
                     <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                 </div> -->
            </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="widget widget-stats bg-red">
                <div class="stats-icon"><i class="fa fa-camera-retro"></i></div>
                <div class="stats-info">
                    <h4>{{ label_rebourg }}</h4>
                    <p>J-{{ compteARebourg }}</p>
                </div>
                <!-- <div class="stats-link">
                     <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
                 </div> -->
            </div>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
    <!-- begin row -->

    <div class="row">
        <!-- begin col-8 -->
        <div class="col-md-12">

            <div class="tab-content" data-sortable-id="index-3">
                <div class="tab-pane fade active in" id="latest-post">
                    <div>
                        <h1>Gestion des partneraires</h1><br/>

                        {% if updateStatus == 'true' %}
                            <p style="font-size: 15px;background-color: #00FF00;color: #ffffff;padding-left: 2px;"> Le fichier a bien été ajouté</p>
                        {% elseif updateStatus == 'false' %}
                            <p style="font-size: 15px;background-color: #FF0000;color: #ffffff;padding-left: 2px;"> Le fichier n'a pas été ajouté</p>
                        {% endif %}

                        <b><p style="font-size: 15px;">Les fichiers en lignes sont :</p></b>
                        {% for file in filesName %}
                            <ul>
                                <li>{{ file }}</li>
                            </ul>
                        {% endfor %}

                        <form method="post" action="/membres/managePartners" enctype="multipart/form-data">
                            <input type="hidden" name="modifImg" value="modifImg" />
                            <input type="hidden" name="MAX_FILE_SIZE" value="3000000">
                            <input type="file" name="img" class="upload">
                            </br><input type="submit" name="ajouter" value="Ajouter le partenaire" class="upload">
                        </form>

                        <form method="post" action="/membres/managePartners">
                            <input type="hidden" name="modifPartners" value="modifPartners" />
                            <label for="partners" style="font-size:20px;">Sélection des partenaires</label>
                            <textarea id="partners" name="partners" rows="20">{{ activePartners }}</textarea>
                            <br/><input type="submit" name="ajouter" value="Valider la sélection des partenaires">
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- end col-8 -->
        <!-- begin col-4 -->
        <!-- <div class="col-md-4">
             <div class="panel panel-inverse" data-sortable-id="index-6">
                 <div class="panel-heading">
                     <div class="panel-heading-btn">
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                     </div>
                     <h4 class="panel-title">Analytics Details</h4>
                 </div>
                 <div class="panel-body p-t-0">
                     <table class="table table-valign-middle m-b-0">
                         <thead>
                         <tr>
                             <th>Source</th>
                             <th>Total</th>
                             <th>Trend</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr>
                             <td><label class="label label-danger">Unique Visitor</label></td>
                             <td>13,203 <span class="text-success"><i class="fa fa-arrow-up"></i></span></td>
                             <td><div id="sparkline-unique-visitor"></div></td>
                         </tr>
                         <tr>
                             <td><label class="label label-warning">Bounce Rate</label></td>
                             <td>28.2%</td>
                             <td><div id="sparkline-bounce-rate"></div></td>
                         </tr>
                         <tr>
                             <td><label class="label label-success">Total Page Views</label></td>
                             <td>1,230,030</td>
                             <td><div id="sparkline-total-page-views"></div></td>
                         </tr>
                         <tr>
                             <td><label class="label label-primary">Avg Time On Site</label></td>
                             <td>00:03:45</td>
                             <td><div id="sparkline-avg-time-on-site"></div></td>
                         </tr>
                         <tr>
                             <td><label class="label label-default">% New Visits</label></td>
                             <td>40.5%</td>
                             <td><div id="sparkline-new-visits"></div></td>
                         </tr>
                         <tr>
                             <td><label class="label label-inverse">Return Visitors</label></td>
                             <td>73.4%</td>
                             <td><div id="sparkline-return-visitors"></div></td>
                         </tr>
                         </tbody>
                     </table>
                 </div>
             </div>

             <div class="panel panel-inverse" data-sortable-id="index-7">
                 <div class="panel-heading">
                     <div class="panel-heading-btn">
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                     </div>
                     <h4 class="panel-title">Visitors User Agent</h4>
                 </div>
                 <div class="panel-body">
                     <div id="donut-chart" class="height-sm"></div>
                 </div>
             </div>

             <div class="panel panel-inverse" data-sortable-id="index-8">
                 <div class="panel-heading">
                     <div class="panel-heading-btn">
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                     </div>
                     <h4 class="panel-title">Todo List</h4>
                 </div>
                 <div class="panel-body p-0">
                     <ul class="todolist">
                         <li class="active">
                             <a href="javascript:;" class="todolist-container active" data-click="todolist">
                                 <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                                 <div class="todolist-title">Donec vehicula pretium nisl, id lacinia nisl tincidunt id.</div>
                             </a>
                         </li>
                         <li>
                             <a href="javascript:;" class="todolist-container" data-click="todolist">
                                 <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                                 <div class="todolist-title">Duis a ullamcorper massa.</div>
                             </a>
                         </li>
                         <li>
                             <a href="javascript:;" class="todolist-container" data-click="todolist">
                                 <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                                 <div class="todolist-title">Phasellus bibendum, odio nec vestibulum ullamcorper.</div>
                             </a>
                         </li>
                         <li>
                             <a href="javascript:;" class="todolist-container" data-click="todolist">
                                 <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                                 <div class="todolist-title">Duis pharetra mi sit amet dictum congue.</div>
                             </a>
                         </li>
                         <li>
                             <a href="javascript:;" class="todolist-container" data-click="todolist">
                                 <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                                 <div class="todolist-title">Duis pharetra mi sit amet dictum congue.</div>
                             </a>
                         </li>
                         <li>
                             <a href="javascript:;" class="todolist-container" data-click="todolist">
                                 <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                                 <div class="todolist-title">Phasellus bibendum, odio nec vestibulum ullamcorper.</div>
                             </a>
                         </li>
                         <li>
                             <a href="javascript:;" class="todolist-container active" data-click="todolist">
                                 <div class="todolist-input"><i class="fa fa-square-o"></i></div>
                                 <div class="todolist-title">Donec vehicula pretium nisl, id lacinia nisl tincidunt id.</div>
                             </a>
                         </li>
                     </ul>
                 </div>
             </div>

             <div class="panel panel-inverse" data-sortable-id="index-9">
                 <div class="panel-heading">
                     <div class="panel-heading-btn">
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                     </div>
                     <h4 class="panel-title">World Visitors</h4>
                 </div>
                 <div class="panel-body p-0">
                     <div id="world-map" class="height-sm width-full"></div>
                 </div>
             </div>

             <div class="panel panel-inverse" data-sortable-id="index-10">
                 <div class="panel-heading">
                     <div class="panel-heading-btn">
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                         <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                     </div>
                     <h4 class="panel-title">Calendar</h4>
                 </div>
                 <div class="panel-body">
                     <div id="datepicker-inline" class="datepicker-full-width"><div></div></div>
                 </div>
             </div>
         </div> -->
        <!-- end col-4 -->
    </div>
    <!-- end row -->
</div>
<!-- end #content -->