{% extends '::base_membres.html.twig' %}

{% block stylesheets %}
{% endblock %}
{% block body %}
    {% block content %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% include "ExpolaroidAdminBundle:Default:managePartners_content.html.twig" %}
        {% else %}
            <meta http-equiv="refresh" content="0;URL=/login">
        {% endif %}
    {% endblock content %}
{% endblock %}