<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{% block title %}Expolaroid, le mois du Polaroid et du film instantané{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div id="header_back">
        <div id="header">
            <center><a href="/"><img src="/images/logo.png" id="logo" /></a>
                <p><a href="/step1#body"><img src="/images/btn1.png" id="participez" /></a></p>
                <p id="sousmenu">
                    <a href="/about#body"><img src="/images/btn2.png" id="btnleft" /></a>
                    <span id="touslesevent_desktop"><a href="/events#body"><img src="/images/btn3.png" id="btnmiddle" /></a></span>
                    <span id="touslesevent_mobile"><a href="/events#body"><img src="/images/btn3.png" id="btnmiddle2" /></a></span>
                    <a href="/membres#body"><img src="/images/btn4.png" id="btnright"  /></a>
                    <br/><span id="submenu"><img src="/images/tree.png" id="tree"/><br/>
            <a href="/events?filter=expo#body"><img src="/images/expo.png" id="expo"></a>
            <a href="/events?filter=concours#body"><img src="/images/concours.png" id="concours"></a>
            <a href="/events?filter=atelier#body"><img src="/images/atelier.png" id="atelier"></a>
            <a href="/events?filter=autre#body"><img src="/images/autre.png" id="autre"></a></span>
                </p>
                <a href="#body"><img src="/images/arrow1.png" id="flecheheader"/></a>
            </center>
        </div>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <div id="contact">
    <span id="gardonscontact">
        <p id="gardonscontact_title">GARDONS CONTACT</p>
        <p id="expolaroid">EXPOLAROID</p>
        <p id="expolaroid_address">15, rue de Coulmiers - 44000 Nantes (FRANCE)</p>
        <p id="email_p"><span id="email"><img src="/images/mail.png" id="email_icon"/> contact@expolaroid.com</span></p>
        <p id="socialnetwork"><a href="https://www.facebook.com/expolaroid"><img src="/images/facebook.png" id="fb_icon"/></a>
            <a href="https://twitter.com/expolaroid"><img src="/images/twitter.png" id="twitter_icon"/></a>
            <a href="https://www.instagram.com/expolaroid_officiel/"><img src="/images/instagram.png" id="twitter_icon"/></a>
            <a href="https://www.youtube.com/channel/UCAAqyahKJvUpev5jF_bur6Q"><img src="/images/youtube.png" id="youtube_icon"/></a></p>
    </span>
        <span id="pola"><img src="/images/polaroid-frame.png" id="polaframe"/></span>
        <div id="arrowContactDiv"><center><a href="#partenaires"><img id="arrowContact" src="/images/arrow1.png"/></a></center></div>

    </div>
    <footer>
        <p id="partenaires">NOS PARTENAIRES</p>
        <div class="footer_photo_logo" style="margin: auto; width: 75%; text-align: center; margin-top: 40px; padding-bottom: 40px;">
            {% if partnersList is defined %}
                {{ partnersList | raw }}
            {% else %}
                <p class="footer_logo"><a href="http://www.polaroid-passion.com/" target="_blank"><img src="/images/partenaires/logo_polaroidpassion.gif" class="footer_photo_logo" /></a></p>
                <p class="footer_logo"><a href="https://www.the-impossible-project.com/" target="_blank"><img src="/images/partenaires/impossible-logo-white.svg" class="footer_photo_logo"/></a></p>
                <p class="footer_logo"><a href="http://www.big-shot.fr/" target="_blank"><img src="/images/partenaires/bigshot.png" class="footer_photo_logo" /></a></p>
                <p class="footer_logo"><a href="https://www.intermarche.com/" target="_blank"><img src="/images/partenaires/intermarche.png" class="footer_photo_logo" /></a></p>
            {% endif %}
        </div>
    </footer>
    <script type="text/javascript">

        document.getElementById('btnmiddle').onmouseover = open_sous_menu;
        document.getElementById('btnleft').onmouseover = lefton;
        document.getElementById('btnright').onmouseover = righton;
        document.getElementById('participez').onmouseover = participezon;
        document.getElementById('btnmiddle2').onmouseover = btnmiddle2on;
        document.getElementById('btnmiddle2').onmouseout = btnmiddle2off;
        document.getElementById('btnleft').onmouseout = leftoff;
        document.getElementById('btnright').onmouseout = rightoff;
        document.getElementById('participez').onmouseout = participezoff;

        function lefton()
        {
            document.getElementById('btnleft').src='/images/btn2hover.png';
            close_sous_menu();
        }

        function leftoff()
        {
            document.getElementById('btnleft').src='/images/btn2.png';
        }

        function btnmiddle2on()
        {
            document.getElementById('btnmiddle2').src='/images/btn2hover.png';
        }

        function btnmiddle2off()
        {
            document.getElementById('btnmiddle2').src='/images/btn2.png';
        }

        function righton()
        {
            document.getElementById('btnright').src='/images/btn4hover.png';
            close_sous_menu();
        }

        function rightoff()
        {
            document.getElementById('btnright').src='/images/btn4.png';
        }

        function participezon()
        {
            document.getElementById('participez').src='/images/btn1hover.png';
            close_sous_menu();
        }

        function participezoff()
        {
            document.getElementById('participez').src='/images/btn1.png';
        }

        function open_sous_menu() {
            document.getElementById('btnmiddle').src='/images/btn3hover.png';
            document.getElementById('tree').style.display = 'block';
            document.getElementById('expo').style.display = 'inline-block';
            document.getElementById('concours').style.display = 'inline-block';
            document.getElementById('atelier').style.display = 'inline-block';
            document.getElementById('autre').style.display = 'inline-block';
        }
        function close_sous_menu() {
            document.getElementById('btnmiddle').src ='/images/btn3.png'
            document.getElementById('tree').style.display = 'none';
            document.getElementById('expo').style.display = 'none';
            document.getElementById('concours').style.display = 'none';
            document.getElementById('atelier').style.display = 'none';
            document.getElementById('autre').style.display = 'none';
        }

        function about()
        {
            document.getElementById('map_background').style.display = 'none';
            document.getElementById('expolaroidabout').style.display = 'block';
        }
    </script>
    </body>
</html>
