
#about_title
{
    font-size: 50px;
    padding-left: 160px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-top: 20px;
}

#about_title_light
{
    font-size: 50px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

#content
{
    padding-top: 40px;
    min-height: 100%;
    display:inline-block;
}

#text_about
{
    width: 45%;
    padding-left: 160px;
    float: left;
    display:inline-block;
}

#text_part1
{
    font-size: 20px;
    color: white;
    font-family: 'Roboto', serif;
    font-weight: 100;
    text-align: justify;
}


#text_part2
{
    font-size: 20px;
    color: white;
    font-family: 'Roboto', serif;
    font-weight: 100;
    text-align: center;
    padding-top: 20px;
}


#text_part3
{
    font-size: 20px;
    color: white;
    font-family: 'Roboto', serif;
    font-weight: 100;
    padding-top: 20px;
    text-align: justify;
}


#btn
{
    border: 2px solid white;
    width: 100%;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

a
{
    color: white;
    text-decoration: none;
}

#pola_frame
{
    float: left;
    display:inline-block;
    padding-left: 40px;
}

#btn_presse
{
    border: 2px solid #003245;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    position: relative;
    color: #003245;
    top: -80px;
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 900px) {

    #body {
        border-radius: 0px 0px 0px 0px;
        width: 100%;
        height: 100%;
        background-color: #003245;
    }

    #about_title
    {
        padding-top: 40px;
        font-size: 30px;
        padding-left: 0px;
        text-align: center;
    }

    #about_title_light
    {
        font-size: 30px;
    }

    #text_about
    {
        width: 95%;
        padding-left: 0px;
        text-align: center;
        margin: auto;
    }

    #pola_frame
    {
        float: left;
        display:inline-block;
        padding-left: 0px;
        margin: auto;
        width: 95%;
    }

    #lepoladelateam
    {
        width: 100%;
    }

}