
#connexion_title
{
    font-size: 50px;
    padding-left: 160px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-top: 20px;
}

#connexion_subtitle
{
    font-size: 50px;
    padding-left: 160px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

#connexion_title_light
{
    font-size: 50px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

.txt
{
    color: white;
    font-size: 15px;
    padding-left: 160px;
    font-family: 'Roboto', serif;
}

.label
{
    color: white;
    font-size: 20px;
    padding-left: 160px;
    padding-bottom: 10px;
}

.link
{
    color: white;
    font-size: 15px;
}

#auth
{
    padding-top: 30px;
    padding-bottom: 15px;
}

.input
{
    margin-left: 10px;
}

#btn
{
    border: 2px solid white;
    width: 30%;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 10px;
    margin-left: 160px;
    margin-bottom: 40px;
    color: white;
}

@media screen and (max-width: 900px) {
    #body {
        border-radius: 0px 0px 0px 0px;
        width: 100%;
        height: 100%;
        background-color: #003245;
    }


    #connexion_title
    {
        font-size: 30px;
        padding-left: 0px;
        text-align: center;
    }

    #connexion_subtitle
    {
        font-size: 30px;
        padding-left: 0px;
        text-align: center;
    }

    #connexion_title_light
    {
        font-size: 30px;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-weight: 200;
    }

    .label
    {
        padding-left: 0px;
        text-align: center;
    }

    #btn
    {
        border: 2px solid white;
        width: 99%;
        display: inline-block;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
        color: white;
    }

    .txt
    {
        color: white;
        font-size: 15px;
        padding-left: 0px;
        text-align: center;
        font-family: 'Roboto', serif;
    }
    .input
    {
        display: block;
        width: 95%;
    }
}