
#event_title
{
    font-size: 50px;
    padding-left: 160px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-top: 20px;
}

#event_title_light
{
    font-size: 50px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

#search_div
{
    padding-left: 160px;
    padding-top:20px;
}

#search
{
    width:45%;
}

#exemple
{
    padding-left: 160px;
    color: white;
    padding-top:20px;
    font-family: 'Roboto Slab', serif;
}

.content
{
    padding-top: 40px;
    padding-left: 160px;
    height: 100%;
    overflow: auto;
    padding-right: 160px;
}

.text_about
{
    width: 150px;
    float: left;
    clear:both;
}

.pola_frame
{
    float: left;
    padding-left: 20px;
    margin-bottom: 40px;
}

#clear
{
    clear:both;
}

.city
{
    font-size: 20px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.title
{
    font-size: 30px;
    color: white;
    font-family: 'Roboto', serif;
}

.txt
{
    font-size: 12px;
    color: white;
    font-family: 'Roboto', serif;
}

#pagination
{
    font-size: 30px;
    color: white;
    font-family: 'Roboto', serif;
    font-weight: 100;
    padding-bottom: 100px;
    width: 25%;
    margin: auto;
    text-align: center;
    padding-top:50px;
}

#pagination_actif
{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Roboto', serif;
}

#rechercher
{
    color: white;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #001d28;
    padding-top: 1px;
    padding-bottom: 2px;
}

a
{
    text-decoration: none;
}