*
{
    margin: 0px;
}

body
{
    background-image:url('/images/fondpolaroid.jpg');
}

footer
{
    font-size: 50px;
    font-weight: 700;
    background-color: #003245;
    color: white;
    font-family: 'Roboto Slab', serif;
}

#touslesevent_desktop
{
    display: inline-block;
}

#touslesevent_mobile
{
    display: none;
}


#flecheheader
{
    padding-top: 10px;
}

#tree
{
    display: none;
    position: relative;
    top: 22px;
}

#expo
{
    display: none;
}

#concours
{
    display: none;
}

#atelier
{
    display: none;
}

#autre
{
    display: none;
}

#submenu
{
    /*  background-color: red; */
    position: relative;
    top: -57px;
    min-height: 500px;
}

#contact
{
    background-image:url('/images/fondpolaroid.jpg');
    display: inline-block;
    width: 100%;
}

#gardonscontact
{

    padding-top: 40px;
    /* padding-left: 160px;*/
    width:60%;
    float:left;
}

#pola
{
    width:40%;
    float:right;
    padding-top: 40px;
    text-align: center;
}

#polaframe
{

}

#gardonscontact_title
{
    font-size: 50px;
    padding-left: 160px;
    color: #003245;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

#partenaires
{
    padding-top: 40px;
    padding-left: 160px;
}

.footer_logo
{
    display: inline;
}

.footer_photo_logo
{
    height: 50px;
}

#header
{
    background: url('/images/header.jpg') no-repeat;
   /* border-radius: 0px 0px 100% 100%; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 40px;
}

#header_back
{
    background-color: #003245;
}

#logo
{
    max-width: 45%;
    height: auto;
}

#participez
{
    max-width: 90%;
    padding-top: 40px;
    height: auto;
}

#sousmenu
{
    padding-top: 40px;
}

#btnleft
{
    padding-bottom: 30px;
}

#btnmiddle
{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

#body {
   /* border-radius: 0px 0px 100% 100%; */
    width: 100%;
    height: 100%;
    background-color: #003245;
}

#btnmiddle2
{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

#btnright
{
    padding-bottom: 30px;
}

#flechemap
{
    padding-bottom: 10px;
    clear: both;
}

#expolaroid
{
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    color: #003245;
    padding-left: 160px;
    padding-top: 40px;
}

#expolaroid_address
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-left: 160px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#email
{
    padding-left: 160px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#email_icon
{
    width: 24px;
    height: 24px;
}

#fb_icon
{
    padding-left: 160px;
    padding-top: 20px;
    width: 24px;
    height: 24px;
}

#twitter_icon
{
    padding-left: 10px;
    padding-top: 20px;
    width: 24px;
    height: 24px;
}

#youtube_icon
{
    padding-left: 10px;
    padding-top: 20px;
    width: 24px;
    height: 24px;
}

#arrowContact
{
    width: 19px;
    height: 19px;
}

#arrowContactDiv
{
    clear: both;
    padding-bottom: 10px;
}



@media screen and (max-width: 900px) {

    footer
    {
        font-size: 40px;
        text-align: center;
        color: white;
        font-family: 'Roboto Slab', serif;
    }

    #partenaires
    {
        padding-top: 40px;
        padding-left: 0px;
        padding-bottom: 40px;
    }

    .footer_logo
    {
        display: block;
    }

    .footer_photo_logo
    {
        height: 50px;
        display:block;
    }

    .footer_photo_logo a img {
        height: 50px;
    }

    #touslesevent_desktop
    {
        display: none;
    }

    #touslesevent_mobile
    {
        display: inline-block;
    }

    #header
    {
        border-radius: 0px 0px 0px 0px;
    }

    #sousmenu
    {
        padding-bottom: 0px;
    }


    #btnleft
    {
    }

    #btnmiddle
    {
        padding-right: 0px;
        padding-left: 0px;
    }

    #gardonscontact
    {
        background-image:url('/images/fondpolaroid.jpg');
        padding-top: 40px;
        padding-left: 0px;
        width:100%;
    }

    #pola
    {
        display: none;
        width:0%;
    }

    #gardonscontact_title
    {
        font-size: 40px;
        text-align: center;
        padding-left: 0px;
        color: #003245;
        font-family: 'Roboto Slab', serif;
    }

    #expolaroid
    {
        font-size: 30px;
        font-family: 'Roboto Slab', serif;
        color: #003245;
        padding-left: 0px;
        padding-top: 40px;
        text-align: center;
    }

    #expolaroid_address
    {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-left: 0px;
        padding-top: 20px;
        text-align: center;
    }

    #fb_icon
    {
        padding-top: 20px;
        width: 24px;
        height: 24px;
        padding-left: 0px;
    }

    #socialnetwork
    {
        text-align: center;
        padding-bottom: 20px;
    }

    #email_p
    {
        text-align: center;
    }

    #email
    {
        padding-left: 0px;
        padding-top: 20px;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }


}