a
{
    color: white;
    text-decoration: none;
}

#avril_title
{
    font-size: 50px;
    padding-left: 160px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-top: 20px;
}

#subtitle_map
{
    font-size: 57px;
    padding-left: 160px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

#map_canvas { width: 75%; height: 350px; margin: auto; }

#choice
{
    text-align: center;
    margin: auto;
    padding-top: 40px;
    color:white;
}

#discover
{
    border: 2px solid white;
    width: 35%;
    margin : auto;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

#addevent
{
    border: 2px solid white;
    width: 35%;
    margin : auto;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 900px) {

    #avril_title
    {
        padding-top: 40px;
        font-size: 30px;
        padding-left: 0px;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        text-align: center;
    }

    #subtitle_map
    {
        font-size: 37px;
        padding-left: 0px;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        text-align: center;
    }

    #body {
        border-radius: 0px 0px 0px 0px;
        width: 100%;
        height: 100%;
        background-color: #003245;
    }

    #discover
    {
        display: block;
        width: 70%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #addevent
    {
        width: 70%;
        margin-top: 20px;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }

}