#step_title
{
    font-size: 50px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    padding-top: 20px;
}

#step_title_light
{
    font-size: 50px;
    padding-left: 160px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    padding-top: 20px;
}

#subtitle
{
    font-size: 40px;
    padding-left: 160px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}

#txt
{
    padding-left: 160px;
    color: white;
    font-family: 'Roboto', serif;
}

#btn
{
    border: 2px solid white;
    width: 30%;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 40px;
    margin-left: 160px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#btn2
{
    border: 2px solid white;
    width: 50%;
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

#btn2 a
{
    color: white;
    text-decoration: none;
}


#btn3
{
    border: 2px solid white;
    width: 40%;
    display: inline-block;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 40px;
    margin-left: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 150px;
    color: white;
}

#btngras
{
    font-weight: 900;
}

.title_little
{
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.sizeinput
{
    padding-left: 10px;
    width: 300px;
    display: inline-block;
    padding-bottom: 10px;
}

.input
{
    width: 200px;
    padding-bottom: 10px;
}

.label
{
    width: 200px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 900px) {
    #step_title
    {
        font-size: 30px;
        padding-left: 0px;
        text-align: center;
    }

    #step_title_light
    {
        font-size: 30px;
    }


    #subtitle
    {
        font-size: 20px;
        text-align: center;
        padding-left: 0px;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
    }

    #txt
    {
        padding-left: 10px;
        color: white;
        font-family: 'Roboto', serif;
    }

    #body {
        border-radius: 0px 0px 0px 0px;
    }

    #btn
    {
        border: 2px solid white;
        width: 98%;
        display: inline-block;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 40px;
        color: white;
    }

    #btn2
    {
        border: 2px solid white;
        width: 98%;
        display: inline-block;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color: white;
    }

    #btn3
    {
        border: 2px solid white;
        width: 98%;
        display: inline-block;
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 40px;
        color: white;
    }

    .title_little
    {
        font-size: 20px;
        font-family: 'Roboto Slab', serif;
    }

    .sizeinput
    {
        padding-left: 10px;
        width: 90%;
    }

    .input
    {
        width: 90%;
        padding-bottom: 10px;
    }

    .label
    {
        width: 100%;
        padding-bottom: 10px;
    }
}