{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <meta http-equiv="refresh" content="0;URL=/step4">
{% endblock fos_user_content %}
