{% trans_default_domain 'FOSUserBundle' %}

<div id="body">
    <p id="step_title_light">PARTICIPEZ À <span id="step_title">EXPOLAROID 2016</span></p>
    <p id="subtitle">INFORMATIONS PERSONNELLES</p></br>
    <div id="txt">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', id: 'myForm'}}) }}
            <div id="toHide"><div class="label">Username</div><span class="sizeinput" >{{ form_widget(form.username) }}</span><span class="sizeinput">{{ form_errors(form.username) }}</span></div><br/>

            <div class="label">Nom de l'organisateur</div><span class="sizeinput">{{ form_widget(form.lastname, { 'attr' : {'placeholder':'Durand'} }) }}</span><span class="sizeinput">{{ form_errors(form.lastname) }}</span><br/>
            <div class="label">Prénom de l'organisateur</div><span class="sizeinput">{{ form_widget(form.firstname, { 'attr' : {'placeholder':'Jean'} }) }}</span><span class="sizeinput">{{ form_errors(form.firstname) }}</span><br/>
            <div class="label">Ville</div><span class="sizeinput">{{ form_widget(form.town, { 'attr' : {'placeholder':'Nantes'} }) }}</span><span class="sizeinput">{{ form_errors(form.town) }}</span><br/>
            <div class="label">Email</div><span class="sizeinput">{{ form_widget(form.email, { 'attr' : {'placeholder':'contact@jdurand.fr'} }) }}</span><span class="sizeinput">{{ form_errors(form.email) }}</span><br/>
            <div class="label">Téléphone</div><span class="sizeinput">{{ form_widget(form.phone, { 'attr' : {'placeholder':'0612345678'} }) }}</span><span class="sizeinput">{{ form_errors(form.phone) }}</span><br/>
            <div class="label">Mot de passe</div><span class="sizeinput">{{ form_widget(form.plainPassword.first) }}</span><span class="sizeinput">{{ form_errors(form.plainPassword.first) }}</span><br/>
            <div class="label">Confirmez votre mot de passe</div><span class="sizeinput">{{ form_widget(form.plainPassword.second) }}</span><span class="sizeinput">{{ form_errors(form.plainPassword.second) }}</span><br/>
        {{ form_end(form) }}
    </div>
    <a onclick="submitMyForm()" style="cursor:pointer;"><div id="btn3">JE VALIDE <span id="btngras">MON INSCRIPTION</span></div></a>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>

<script type="text/javascript">

    var form = document.getElementById("myForm");
    form.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
            submitMyForm();
        }
    });

    function submitMyForm()
    {
        document.getElementById("fos_user_registration_form_username").value = "value";
        document.getElementById("myForm").submit();
    }
</script>


