{% trans_default_domain 'FOSUserBundle' %}

<div id="body">
    <div id="txt">
        <br/><br/><br/>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password'), 'attr': {'class': 'fos_user_change_password', id: 'myForm'}}) }}
            <div class="label">Mot de passe actuel</div><span class="sizeinput">{{ form_widget(form.current_password) }}</span><span class="sizeinput">{{ form_errors(form.current_password) }}</span><br/>
            <div class="label">Nouveau mot de passe</div><span class="sizeinput">{{ form_widget(form.plainPassword.first) }}</span><span class="sizeinput">{{ form_errors(form.plainPassword.first) }}</span><br/>
            <div class="label">Confirmez votre nouveau mot de passe</div><span class="sizeinput">{{ form_widget(form.plainPassword.second) }}</span><span class="sizeinput">{{ form_errors(form.plainPassword.second) }}</span><br/>
        {{ form_end(form) }}
    </div>
    <a onclick="submitMyForm()" style="cursor:pointer;"><div id="btn3">Mettre à jour mon mot de passe</div></a>
    <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
</div>

<script type="text/javascript">
    function submitMyForm()
    {
        document.getElementById("myForm").submit();
    }
</script>
