{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link href="/style/general.css" rel="stylesheet" media="all" type="text/css"/>
    <link href="/style/connexion.css" rel="stylesheet" media="all" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,400,700,900' rel='stylesheet' type='text/css'>
{% endblock %}

{% block fos_user_content %}

    <div id="body">
        <p id="connexion_title"><span id="connexion_title_light">ESPACE</span> ORGANISATEUR</p>
        <p id="connexion_subtitle">CONNEXION</p>

        {% if error %}
            <div class="label"><br/>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" id="myForm">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div id="auth">
                <p class="label">Email<input type="text" name="_username" size="35" class="input"  /></p>
                <p class="label">Mot de passe<input name="_password" type="password" size="35" class="input" /></p>
            </div>
            <p class="txt"><a href="/resetting/request#body" class="link">Mot de passe oublié ?</a></p><br/>
            <p class="txt">Pas encore inscrit ? <a href="/step1" class="link">Cliquez ici</a></p>
            <a onclick="submitMyForm()" id="btn" style="cursor:pointer;">VALIDER</a>
        </form>
        <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
    </div>

    <script type="text/javascript">

        var form = document.getElementById("myForm");
        form.addEventListener("keydown", function (e) {
            if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
                submitMyForm();
            }
        });

        function submitMyForm()
        {
            document.getElementById("myForm").submit();
        }
    </script>

{% endblock fos_user_content %}


