{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="/style/general.css" rel="stylesheet" media="all" type="text/css"/>
    <link href="/style/step.css" rel="stylesheet" media="all" type="text/css"/>
    <link href="/style/fos_form_register.css" rel="stylesheet" media="all" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,200,400,700,900' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
    <body>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
    </body>
{% endblock %}
