{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div id="body">
        <div id="txt">
            <br/><br/><br/>
            <p>
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
            </p>
            <br/><br/><br/>
        </div>
    </div>
{% endblock %}
