{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div id="body">
        <div id="txt">
            <br/><br/><br/>
            <p>{{ 'resetting.password_already_requested'|trans }}</p>
            <br/><br/><br/>
        </div>
    </div>
{% endblock fos_user_content %}
