{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="myForm">
    <div id="body">
        <div id="txt">
            <br/><br/><br/>
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" />
        </div>
        <a onclick="submitMyForm()" style="cursor:pointer;"><div id="btn3">Demander un mail de réinitialisation</div></a>
        <center><a href="#gardonscontact"><img src="/images/arrow2.png" id="flechemap"/></a></center>
    </div>
</form>

<script type="text/javascript">
    function submitMyForm()
    {
        document.getElementById("myForm").submit();
    }
</script>
